.compile-error {
  background: rgb(255, 150, 150) !important;
  color: black !important;
  margin-right: -5px;
}

.cm-toc .CodeMirror {
  font-size: 9px;
  z-index: 0;
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  border-radius: 0px;
  background: var(--jp-cell-editor-background);
  max-width: 100%;
  max-height: 36px;
}
